<!DOCTYPE html>
<html>

<head th:replace="fragments/materialize::head(title='menu.home')"></head>

<body>
	<header th:insert="fragments/parts::menu"></header>

	<div class="row">
		
		<div class="col s4">

			<form class="form col s10 center">
				<div class="input-field col s6 center">
					<div class="row">
						<label>¿Cuándo quiere ir?</label>
						<input type="date" class="datepicker">
					</div>

					<div class="row">
						<div class="input-field col s12">
							<select multiple>
								<option value="" disabled selected>Choose your option</option>
								<option value="1">Option 1</option>
								<option value="2">Option 2</option>
								<option value="3">Option 3</option>
							</select>
							<label>¿Qué quieres hacer?</label>
						</div>
					</div>

					<div class="row">
						<div class="input-field col s12">
							<select multiple>
								<option value="" disabled selected>Choose your option</option>
								<option value="1">Option 1</option>
								<option value="2">Option 2</option>
								<option value="3">Option 3</option>
							</select>
							<label>¿A dónde quieres ir?</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input type="submit" value="Buscar" class="btn col s12" style="background-color: #27D9C7"
								name="Buscar">
						</div>
					</div>
				</div>
			</form>

		</div>
		<div class="col s8">
			<div class="carousel carousel-slider">
				<a class="carousel-item" href="#one!"><img src="img/hola.png"></a>
				<a class="carousel-item" href="#two!"><img src="img/hola.png"></a>
				<a class="carousel-item" href="#three!"><img src="img/hola.png"></a>
				<a class="carousel-item" href="#four!"><img src="img/hola.png"></a>
			</div>
		</div>
	</div>

	<footer th:replace="fragments/parts::footer"></footer>
	<script type="text/javascript" src="myscript.js">

	</script>
</body>

</html>