<!DOCTYPE html>
<html>

<head th:replace="fragments/bootstrap::head(title='menu.login')"></head>

<body>
	<header th:insert="fragments/parts::menu"></header>
	<section class="container contenedor">
		<div class="row justify-content-center">
			<article class="col-sm-auto">
				<h3 class="text-center" th:text="#{title.login}"></h3>
				<form method="POST" th:action="@{/login}" th:object="${usuario}">
					<div class="form-margen">
						<div class="form-group">
							<i class="bi bi-person-circle icons"></i>
							<input id="username" class="input-basic" type="text" name="username"
								placeholder="Nombre de Usuario" th:field="*{username}" required>
						</div>
						<div class="form-group">
							<i class="bi bi-lock-fill icons"></i>
							<input id="password" class="input-basic" type="password" name="password"
								placeholder="Contraseña" th:field="*{password}" required>
						</div>
						<h6 class="text-danger" th:if="${error!=null}" th:text="#{'error.login'}"></h6>
						<button class="waves-effect waves-light btn boton-basic" type="submit"
							th:text="#{menu.login}"></button>
						<div class="text">
							<a href="/register"><h6 class="register" th:text="#{registronewuser}"></h6></a>
						</div>
					</div>
				</form>
			</article>
		</div>
	</section>
	<footer th:replace="fragments/parts::footer"></footer>
</body>

</html>