<!DOCTYPE html>
<html>

<head th:replace="fragments/bootstrap::head(title='menu.perfil')"></head>

<body>
	<header th:insert="fragments/parts::menu"></header>
	<section class="container contenedor">
		<div class="row justify-content-center">
			<article class="col-sm-auto">
				<form method="POST" th:action="@{/user/perfil}" enctype="multipart/form-data" th:object="${usuario}">
					<div class="row justify-content-center form-margen">
						<div class="col-sm-auto">
							<div class="form-group">
								<i class="bi bi-person-fill icons"></i>
								<input id="nombre" type="text" class="input-basic" name="nombre" placeholder="Nombre"
									th:field="*{nombre}" required>
							</div>
							<div class="form-group">
								<i class="bi bi-envelope-fill icons"></i>
								<input id="email" type="text" class="input-basic" name="email" placeholder="Email"
									th:field="*{email}" required>
							</div>
						</div>
						<div class="col-sm-auto">
							<div class="form-group">
								<i class="bi bi-people-fill icons"></i>
								<input id="apellidos" type="text" class="input-basic" name="apellidos"
									placeholder="Apellidos" th:field="*{apellidos}">
							</div>
							<div class="form-group">
								<i class="bi bi-person-circle icons"></i>
								<input id="username" type="text" class="input-basic" name="username"
									placeholder="Nombre de Usuario" th:field="*{username}" disabled>
							</div>
						</div>

						<div class="row justify-content-center form-perfil">
							<div class="col-sm-auto">
								<h6 class="text-danger" th:if="${error!=null}" th:text="#{'error.errorPassword'}"></h6>
								<button class="waves-effect waves-light btn justify boton-basic form-margen"
									type="submit" th:text="#{actualizar}"></button>
							</div>
						</div>
					</div>
				</form>
			</article>
			<div class="row justify-content-center">
				<div class="col-sm-auto">
					<div class="row justify-content-center form-margen">
						<a class="text-center col-2 btn btn-primary boton-basic" th:href="@{/user/miscomentarios}"
							th:text="#{miscomentarios}"></a>
					</div>
					<div class="row justify-content-center form-margen">
						<a class="text-center col-2 btn btn-primary boton-basic" th:href="@{/user/misvaloraciones}"
							th:text="#{misvaloraciones}"></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/parts::footer"></footer>
</body>

</html>