<!DOCTYPE html>
<html>

<head th:replace="fragments/bootstrap::head(title='menu.addValoracion')">
</head>

<body>
	<header th:insert="fragments/parts::menu"></header>
	<div class="container contenedor">
		<div class="row justify-content-around">
			<div class="col-sm-12 col-lg-4">
				<div class="row justify-content-center">
					<img th:src="@{'/photos/'+${event.imagen}}" class="img-fluid widh-80" th:alt="${event.imagen}"
						style="width:80%;">
				</div>
				<div class="row justify-content-center">
					<div class="row justify-content-center color-card form-margen widh-80">
						<h2 th:text="${event.titulo}"></h2>
						<h5 th:text="${event.tipo}"></h5>
						<h6 th:text="${event.lugar}"></h6>
					</div>
					<div class="row justify-content-around form-margen margin-bottom">
						<div class="d-flex justify-content-center" sec:authorize="hasRole('ROLE_USER')">
							<a class="text-center col-2 btn btn-primary boton-basic" th:text="#{volver}"
								th:href="@{'/eventos/valoraciones?evento='+${event.getId_evento()}}"></a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-lg-8 color-card">
				<div class="row justify-content-center">
					<article class="col-sm-auto">
						<h3 class="text-center icons" th:text="#{menu.addValoracion}"> </h3>
						<form method="POST" th:action="@{/user/valoraciones}" enctype="multipart/form-data"
							th:object="${valoracion}">
							<div class="form-margen">
								<div class="form-group">
									<i class="bi bi-chat-square-heart-fill"></i>

									<select name="tipo" th:field="*{puntuacion}"
										class="form-select form-select-sm input-date input-select"
										aria-label=".form-select-sm example">
										<option th:value="1">1</option>
										<option th:value="2">2</option>
										<option th:value="3">3</option>
										<option th:value="4">4</option>
										<option th:value="5">5</option>
									</select>
								</div>
								<input id="id_evento" type="hidden" name="id_evento" th:field="*{id_evento}"
									th:value="${valoracion.id_evento}" required>
								<div class="row justify-content-center">
									<button class="waves-effect waves-light btn boton-basic" type="submit"
										th:text="#{valorar}">
									</button>
								</div>
							</div>
						</form>
					</article>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="fragments/parts::footer"></footer>

</body>

</html>